@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
$gap: 10px;
//height = appbar + boardbar + board content = 99vh, 1vh cho scroll bar
$navbar_app-height:4vh;
$navbar_board_height:5vh;
$board_content_height:90vh;
//colors
$main-text-color:#333;
$board-bg-color:#0079bf;
$common-elemen-bg: rgba(255,255,255, .24);
$column-bg-color:#ebecf0;
$alert-danger: #ee5253;


//screen
$screen-lg:1201px;
$screen-md:992px;
$screen-sm:768px;
$screen-phone:480px;
$screen-ip6-down:'max-width:375px';


$column-boder-radius: 4px;