@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
$gap: 10px;

//colors
$board-bg-color:#0079bf;
$common-elemen-bg: rgba(255,255,255, .24);


//screen
$screen-lg:1201px;
$screen-md:992px;
$screen-sm:768px;
$screen-phone:480px;
$screen-ip6-down:'max-width:375px';
